<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalTitle">Login</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="inputEmail">Email address</label>
                        <input type="email" id="inputEmail" class="form-control form-control-lg" placeholder="Enter a valid email address" />
                    </div>
                    <div class="form-outline mb-3">
                        <label class="form-label" for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" class="form-control form-control-lg" placeholder="Enter password" />
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!" class="link-danger">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
