<body>
<div class="container mt-5">
    <h1>Welcome, {{ user.username }}!</h1>
    <h2>Your Posts:</h2>

    <ul class="list-group mt-3">
        {{#each user.posts}}
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h4>{{ this.title }}</h4>
                </div>
                <p>{{ this.content }}</p>
            </li>
        {{/each}}
    </ul>

    <div class="mt-5">
        <a href="/post" class="btn btn-primary btn-lg">Create Post</a>
        <a href="/feed" class="btn btn-secondary btn-lg">Feed</a>
    </div>
</div>

<script src="/js/dashboard.js"></script>

</body>
