{{#each posts as |post| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}}
