{{!-- {{#each posts as |post| }}
{{post.id}}
{{/each}} --}}

{{!-- <p>{{post.}}</p> --}}

<section class="container">
  <h3 class="gallery-name">{{post.title}}</h3>
  <section class="flex-row justify-center">
    {{!-- {{#each post.paintings as |painting|}}
    {{> painting-details}}
    {{/each}} --}}
  </section>
</section>