
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>Some Cool Slogan</h2>
    <h4>Create your travel diary easily</h4>
  </div>
  <div class="col-md-6 button">
    <h3><a href="/createaccount">Create Your Travel Blog</a></h3>
  </div>
</div>

