
<div class="row container align-center mb-5">
  <div class="container text-center">
    <h2>Some Cool Slogan</h2>
    <h4>Create your travel diary easily</h4>
    <h3><a href="/createaccount">Create Your Travel Blog</a></h3>
  </div>
</div>

